body {
  background: #17132A;

}
.h2-title{
  margin: 8px;
  font-size: 48px;
  font-family: sans-serif;
  padding: 8px;
  /* background: #77a; */
  color: #FDFCDC;
  font-family: 'Share Tech Mono', monospace;
  /* text-align: center; */

}

button{
  border-style: none;
  width: 6rem;
  height: 6rem;
  font-size: 24px;
  background: #3A364D;
  color: #FDFCDC;
  padding: 16px;
  box-sizing: border-box;
  margin: 8px;
  border-radius: 8px;
  border-style: dashed;
  border-color: #FDFCDC;
  transition-duration: 0.4s;
}

button:hover{
  color: #17132A;
  background-color: #FDFCDC;
}

#status{
  margin: 8px;
  font-size: 24px;
  font-family: sans-serif;
  padding: 8px;
  /* background: #77a; */
  color: #FDFCDC;
  font-family: 'Share Tech Mono', monospace;
  /* text-align: center; */
}

#input-field {
  border-style: none;
  width: 480px;
  height: 48px;
  font-size: 24px;
  background: #3A364D;
  color: #FDFCDC;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 4px;
  margin-top: 16px;
  border-radius: 8px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
