html, body {
  /* height: 100%; */
  background: #17132A;
}

/* body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h2-title{
  margin: 8px;
  font-size: 48px;
  font-family: sans-serif;
  padding: 8px;
  /* background: #77a; */
  color: #FDFCDC;
  font-family: 'Share Tech Mono', monospace;
  /* text-align: center; */

}

p {
  margin: 8px;
  font-size: 16px;
  font-family: sans-serif;;
  padding: 8px;
  color: #FDFCDC;
}

button{
  border-style: none;
  width: 20%;
  height: 100%;
  font-size: 1rem;
  background: #3A364D;
  color: #FDFCDC;
  padding: 10px;
  box-sizing: border-box;
  margin: 2px;
  border-radius: 0.5rem;
  border-style: dashed;
  border-color: #FDFCDC;
  transition-duration: 0.4s;
  text-align: center;
}

button:hover{
  color: #17132A;
  background-color: #FDFCDC;
}

#status{
  margin: 8px;
  font-size: 24px;
  font-family: sans-serif;
  padding: 8px;
  /* background: #77a; */
  color: #FDFCDC;
  font-family: 'Share Tech Mono', monospace;
  /* text-align: center; */
}
